/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --accent-color-with-opacity: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: var(--accent-color);
  --section-title-color: var(--accent-color);
  --card-title-color: var(--bg-color);
  --button-border-color: var(--accent-color);
  --button-hover-color: var(--accent-color-with-opacity);
  --link-shadow: var(--accent-color);
  --rec-color: var(--accent-color);
  --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
