/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff0070;
    --accent-color-with-opacity: rgba(255, 0, 112, 0.4);
    --bg-color: #fff1f5;
    --text-color: #353436;
    --title-color: #ff0070;
    --title-shadow: none;
    --section-title-color: #ff0070;
    --card-title-color: #353436;
    --button-border-color: #353436;
    --button-hover-color: rgba(53, 52, 54, 0.4);
    --link-shadow: #ff0070;
    --rec-color: #ff0070;
    --bg-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: none;
  }
}

:root.theme-light {
  --accent-color: #ff0070;
  --accent-color-with-opacity: rgba(255, 0, 112, 0.4);
  --bg-color: #fff1f5;
  --text-color: #353436;
  --title-color: #ff0070;
  --title-shadow: none;
  --section-title-color: #ff0070;
  --card-title-color: #353436;
  --button-border-color: #353436;
  --button-hover-color: rgba(53, 52, 54, 0.4);
  --link-shadow: #ff0070;
  --rec-color: #ff0070;
  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec {
  display: none;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
