.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.3;
  color: var(--text-color);
  min-inline-size: 375px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  border-inline-end: none;
  border-block-start: none;
  inset-inline-end: var(--section-padding);
  inset-block-start: var(--section-padding);
}

.decorated-zone::after {
  border-inline-start: none;
  border-block-end: none;
  inset-inline-start: var(--section-padding);
  inset-block-end: var(--section-padding);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--card-title-color);
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--section-padding);
}

.header__rec {
  position: absolute;
  inset-inline-end: calc(var(--section-padding) + 9px);
  inset-block-start: var(--section-padding);
  color: var(--rec-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
  font-family: inherit;
  font-size: inherit;
  text-transform: lowercase;
  padding: 0 13px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.header__title {
  font-size: var(--font-size-mobile);
  color: var(--title-color);
  text-shadow: var(--shadow) var(--title-shadow);
  line-height: 0.825;
  align-self: center;
}

.header__text {
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
  margin-block-start: var(--gap);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px var(--section-padding);
}
